*   {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }


/* index.htm CSS */

html {
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --accent-color: orangered;
    --title-font-family: 'Tahoma', sans-serif;
    --bodytext-font-family: 'Georgia', serif;
}

p {
    font-size: 1vw;
    padding: 5% 5% 0 0; 
}

html {
            font-size: 2vw;
            background-color: white;
            color: var(--primary-color);
            box-sizing: border-box;
            padding: 0;
            font-weight: 400;
}

header, footer {
                    background-color: var(--primary-color);
                    color: white;
                    width: 100%;
                    padding: 2%
                }

/* Navigation links are in a three-part horizontal flex-box, "nav". */
                
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}

/* The site title (leading to the homepage) is the first link (from left to right). */

.sitetitlelink {
            flex-basis: 33%;
}

/* Page links are next, within a sub-flex-box. */

.pagelinks {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-basis: 50.5%;
}

/* Search is the rightmost link. */

.searchlink {
        flex-basis: 16.5%;
        text-align: right
}

/* The main section is notionally a 3x3 structure. */

main {
            padding: 0;
}

/* The top row is a banner image, centrally overlain with the page title.*/

.toprow {
            position: relative;
            text-align: center;
            color: white;
}

.pagebanner {
                z-index: 1;
}

.pagebanner img {
    width: 100%;
    padding: 0;
}

/* The page title is displayed in the centre of the top banner. */

.pagetitle {
                z-index: 100;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
}

/* The middle and bottom rows of the 3x3 grid are horizontal flexboxes.
The service pages have the middle and bottom rows melded and then split vertically (using a flexbox),
in the proportion 1:2. The right vertical box (class=midandbottomrow) is split horizontally between the case study (above)
The left box contains a description of the service.
*/

.midrow, .bottomrow, .midandbottomrow {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        padding: 2vw;
}

.news, .founderstory {
                        flex-basis: 33%;
}

.news .articlecontent img {
                            width: 30%;
}

.copyright {
            text-align: center;
}

/* Special formats in particular locations */

/* Service pages CSS */

.descriptionarticle {
                        flex-basis: 33%;
}

.descriptionarticle img {
                            width: 50%;
                            float: left;
                            align-self: flex-start;
}

.descriptionarticlecontent {
                                padding: 2vw 0 0 0;
}

.servicerightpage {
                    flex-basis: 66%;
}

.servicearticle, .casestudyarticle {
                                        flex: 1 1;
}

.servicearticle img {
                        width: 50%;
}

.casestudyarticle img {
                        width: 25.5%;
}

.casestudyarticle {
                    padding: 0 0 2vw 0
}

/* About page CSS */

.founderstory .articlecontent img {
                                    width: 30%;
}

.ourvisionarticle img {
                        width: 16.5%;
}

.founderstory img {
                    width: 50%;
}

.contactushomepage {
                    flex-basis: 66%;
}

.contactussmall, .contactusbig {
                                padding: 2vw 0 0 0
}

/* Contact us page CSS */

.contactusbig {
                flex-basis: 100%;
}

/* Below is the link formatting for the "Submit" button */

.link   {
            font-family: 'Tahoma', sans-serif;
            padding: 2%;
            font-weight: bold;
            border-radius: 0.5rem;
            width: 10vw;
            float: right;
            color: var(--primary-color);
            background-color: var(--secondary-color);
            border: none                        
        }

.link:hover {
                color: var(--accent-color);

}        


/* General formatting */

form {
        font-family: "Georgia", serif;
        font-size: 1.5vh;
        width: 100%;
        font-weight: 400;
        color: var(--primary-color);
        padding: 2vw 0 0 0;
}

input, textarea, fieldset {
                            border: 0.1rem solid var(--accent-color);
                            font-size: 1.5vw;
                            width: 100%;
                            color: var(--primary-color);
                            border-radius: 0.3rem;
}

.articlecontent {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: top;
                    padding: 2vw 0 0 0
}

h1, h2, h3, h4, h5, h6 {
                        font-family: var(--title-font-family);
}

h1 {
    font-size: 4vw
}

img {
        margin: 0% 2vw 1vw 0;
        border-style: solid;
        border-width: thin; 
        border-color: var(--accent-color);
}

a {
    text-decoration: unset;
    color: unset;
}

a:hover {
            color: var(--accent-color);
}

p {
    padding: 0 2vw 1vw 0;
}

label[for=email]::before {
    content: "✉ "
}

label[for=phone]::before {
    content: "📞"
}