*   {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

html {
    --primary-color: navy;
    --secondary-color: lightblue;;
    --accent-color: orangered;
    --title-font-family: 'Tahoma', sans-serif;
    --bodytext-font-family: 'Georgia', serif;
}

p {
    font-size: 1vw;
    padding: 5% 5% 0 0; 
}

html {
            font-size: 2vw;
            background-color: white;
            color: var(--primary-color);
            box-sizing: border-box;
            padding: 0 0%;
            font-weight: 400;
            scroll-behavior: smooth;
            scroll-padding-top: 17vw;

}

header, footer {
                    background-color: var(--primary-color); /*var(--primary-color);*/
                    color: white;
                    width: 100%;
                    padding: 2%
                }

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sitetitle {
            flex-basis: 33%;
}

main {
            padding: 0;
}

nav h6 {
            color: lightblue;
        }

.pagelinks {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-basis: 33%;
}

.search {
        flex-basis: 33%;
        text-align: right
}

.toprow {
            position: relative;
            text-align: center;
            color: white;
}

.pagebanner {
            z-index: 1;
}

.pagetitle {
            z-index: 100;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
}

.servicearticle {
    flex: 1 1;
}

.articlecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

.midrow, .bottomrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
}

h1 {
    font-size: 3vh
}

img {

    padding: 5% 5% 0 0; 
}

.servicearticle img {
                    width: 50%;
}

.news img {
            width: 33%;
}

.contactushomepage img {
            width: 33%;
}

.pagebanner img {
    width: 100%;
    padding: 0;
}


a {
    text-decoration: unset;
    color: unset;
}

.copyright {
            text-align: center;
}